.AppContent{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* app header */

.AppContent header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BCEBCB;
    width: 100%;
    position: fixed;
    top: 0;
    
    padding: 10px;
}

.AppContent header .sign-out{
    height: 6vh;
    border: none;
    border-radius: 5px;
    padding: 8px;

    background-color: #ffffff;
    cursor: pointer;
}

.AppContent header img{
    width: 100px;
    height: 50px;
}

/* app landing page */

.AppContent section{
    width: 100%;
    height: 100%;
}

.AppContent section .landing{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    background-color: #BCEBCB;
}

.AppContent section .landing img{
    width: 70%;
}

.AppContent section .landing h2{
    text-align: center;
    font-size: 1.3rem;

    margin: 10px;

    color: #7d7d7d;
}

.AppContent section .landing .sign-in{
    height: 8vh;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;

    background-color: #fff;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.AppContent section .landing .sign-in img{
    height: 30px;
    width: 30px;
}

/* app chat */

.AppContent section main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 50px;

    height: 92%;
}

.AppContent section main .message{
    display: flex;
    flex-direction: column;
    min-height: 60px;

    margin: 5px;
}

.AppContent section main .message .messageHeader{
    display: flex;
    align-items: center;
}

.AppContent section main .message .messageHeader img{
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.AppContent section main .message .messageHeader h2{
    font-weight: 300;
    font-size: 13px;
}

.AppContent section main .message .messageContent{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-radius: 20px;

    min-height: 30px;
    padding: 5px;
    width: 40vw;
}

.AppContent section main .message .messageContent p{
    font-size: 14px;
    margin-left: 5px;
}

.AppContent section main .message.sent{
    align-self: flex-end;
}

.AppContent section main .message.sent .messageHeader{
    align-self: flex-end;
    flex-direction: row-reverse;
}

.AppContent section main .message.sent .messageContent{
    background-color: #FFEBE8;
}

.AppContent section main .message.message.received .messageContent{
    background-color: #eeeeee;
}

/* form to send message */

.AppContent section form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: #F8F5F5;
    
    padding: 5px;
}

.AppContent section form input{
    width: 80vw;
    height: 6vh;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px;
}

.AppContent section form button{
    margin-left: 5px;
    border: none;

    cursor: pointer;
}

.AppContent section form button img{
    height: 6vh;
}

@media(min-width: 800px){
    .AppContent section main{
        width: 80%;
        margin: auto;
    }
}